.root {
  height: 100vh;
  display: flex;
  flex-direction: column;
  background: var(--bg-primary);
}

.body {
  flex: 1;
  display: flex;
  overflow: hidden;
}

.main {
  flex: 1;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  padding: 20px;
}

.sidebar {
  width: 400px;
  min-width: 320px;
  max-width: 500px;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}
